.education {
    color: white;
    padding: 50px;
    text-align: center;
}

.education h1 {
    color: rgb(211, 3, 3);
    text-shadow: 0 0 10px rgb(211, 3, 3);
    font-size: 3rem;
}

.education .intro {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.1rem;
}

.options {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* CARDS CLIQUABLES */
.card {
    display: block;
    background-color: #111;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(211,3,3);
    transition: 0.3s;
    text-decoration: none; /* supprime soulignement lien */
    color: white; /* texte blanc */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.card h2 {
    color: rgb(211,3,3);
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
}
